
<script src="JavaScript/index.js" charset="utf-8"></script>
</body>
<footer>
  <p class="copyright"><a href="https://github.com/srglbrkchn"> © <span class="year"></span>  srglbrkchn </a></p>
</footer>
</html>
