<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Little Dark Tooth</title>
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=KoHo:wght@700&family=Pangolin&display=swap" rel="stylesheet">
  <!-- Font Awesome 4 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Css custome Stylesheet -->
  <link rel="stylesheet" href="css/styles.css">
</head>

<body onload="thisYear()">
