<%- include('partials/header') %>

<div class="content-home">
  <h1>Little Dark To<span class="fa fa-user-md"></span>th</h1>
  <div class="inner-content">
    <div class="home-explanation">
      <h2>a place to share your deepest darkest secrets</h2>
      <h3>there are 7 small steps to it:</h3>
      <h4>
      1. create an account --> no personal information is needed.
      <br>
      2. share a secret in the dentist office!
      <br>
      3. your secret would be presented as a rotten tooth, ready to be pulled out by other users.
      <br>
      4. an operator may send their patient a message.
      <br>
      5. a patient may answer or ignore the operato's message.
      either way operator would be able to operate once more and the door of comunication between the two will be closed forever.
      <br>
      6. as long as a tooth is not pulled out, a user can not share another secret.
      <br>
      7. one may not operate on onself.
    </h4>
    </div>
    <div class="home-btns">
      <a class="home-btn" href="/signup" role="button">Sign Up <i class="fa fa-pencil-square" aria-hidden="true"></i></a>
      <a class="home-btn" href="/login" role="button">Login <i class="fa fa-unlock-alt" aria-hidden="true"></i></a>
    </div>
  </div>

</div>


<%- include('partials/footer')%>
